<h2>LISTA DE CATEGORIAS: </h2>
<HR>


<a href="/admin/categorias/add"> <button class="btn btn-success">Nova Categoria</button></a>

{{#each categorias}}

    <div class="card mt-4" >
        <div class="card-body">
        <h4>{{this.nome}}</h4>
        <small>Slug: {{this.slug}}</small>
        <br>
        <a href="/admin/categorias/edit/{{_id}}"><button class="btn btn-success mt-4">Editar ategoria</button></a>
        </div>
    </div>

{{else}}

{{/each}}